In [169]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/happiness-index-2018-2019/report_2018-2019.csv
/kaggle/input/happiness-index-2018-2019/2019.csv
/kaggle/input/happiness-index-2018-2019/2018.csv

In [170]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [171]:
source_data_path = '/kaggle/input/happiness-index-2018-2019/report_2018-2019.csv'
print(source_data_path)

/kaggle/input/happiness-index-2018-2019/report_2018-2019.csv

In [172]:
my_data = pd.read_csv(source_data_path, sep = ',')

In [173]:
my_data.shape

(312, 10)

In [174]:
my_data.columns

Index(['Overall rank', 'Country or region', 'Year', 'Score', 'GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption'],
      dtype='object')

In [175]:
my_data.describe()

,Overall rank,Year,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
count,312.000000,312.000000,312.000000,312.000000,312.000000,312.000000,312.000000,312.000000,312.000000
mean,78.500000,2018.500000,5.391506,0.898298,1.211026,0.661295,0.423538,0.182926,0.111526
std,45.104737,0.500803,1.114631,0.394592,0.300310,0.252724,0.156024,0.096739,0.095296
min,1.000000,2018.000000,2.853000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,39.750000,2018.000000,4.514250,0.609500,1.055750,0.488250,0.322500,0.108750,0.050000
50%,78.500000,2018.500000,5.379500,0.960000,1.265500,0.699000,0.449500,0.175500,0.082000
75%,117.250000,2019.000000,6.176000,1.219500,1.457500,0.858000,0.540250,0.245000,0.141250
max,156.000000,2019.000000,7.769000,2.096000,1.644000,1.141000,0.724000,0.598000,0.457000

In [176]:
my_data.describe(include = 'object')

       Country or region
count                312
unique               160
top          Afghanistan
freq                   2

In [177]:
my_data.Year.value_counts()

2019    156
2018    156
Name: Year, dtype: int64

In [178]:
print(my_data.head(5))
print(my_data.tail(5))
my_data

   Overall rank Country or region  Year  Score  GDP per capita  \
0           154       Afghanistan  2019  3.203           0.350
1           145       Afghanistan  2018  3.632           0.332
2           107           Albania  2019  4.719           0.947
3           112           Albania  2018  4.586           0.916
4            88           Algeria  2019  5.211           1.002

   Social support  Healthy life expectancy  Freedom to make life choices  \
0           0.517                    0.361                         0.000
1           0.537                    0.255                         0.085
2           0.848                    0.874                         0.383
3           0.817                    0.790                         0.419
4           1.160                    0.785                         0.086

   Generosity  Perceptions of corruption
0       0.158                      0.025
1       0.191                      0.036
2       0.178                      0.027
3       0.149                      0.032
4       0.073                      0.114
     Overall rank Country or region  Year  Score  GDP per capita  \
307           152             Yemen  2018  3.355           0.442
308           138            Zambia  2019  4.107           0.578
309           125            Zambia  2018  4.377           0.562
310           146          Zimbabwe  2019  3.663           0.366
311           144          Zimbabwe  2018  3.692           0.357

     Social support  Healthy life expectancy  Freedom to make life choices  \
307           1.073                    0.343                         0.244
308           1.058                    0.426                         0.431
309           1.047                    0.295                         0.503
310           1.114                    0.433                         0.361
311           1.094                    0.248                         0.406

     Generosity  Perceptions of corruption
307       0.083                      0.064
308       0.247                      0.087
309       0.221                      0.082
310       0.151                      0.089
311       0.132                      0.099

,Overall rank,Country or region,Year,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,154,Afghanistan,2019,3.203,0.350,0.517,0.361,0.000,0.158,0.025
1,145,Afghanistan,2018,3.632,0.332,0.537,0.255,0.085,0.191,0.036
2,107,Albania,2019,4.719,0.947,0.848,0.874,0.383,0.178,0.027
3,112,Albania,2018,4.586,0.916,0.817,0.790,0.419,0.149,0.032
4,88,Algeria,2019,5.211,1.002,1.160,0.785,0.086,0.073,0.114
...,...,...,...,...,...,...,...,...,...,...
307,152,Yemen,2018,3.355,0.442,1.073,0.343,0.244,0.083,0.064
308,138,Zambia,2019,4.107,0.578,1.058,0.426,0.431,0.247,0.087
309,125,Zambia,2018,4.377,0.562,1.047,0.295,0.503,0.221,0.082
310,146,Zimbabwe,2019,3.663,0.366,1.114,0.433,0.361,0.151,0.089
311,144,Zimbabwe,2018,3.692,0.357,1.094,0.248,0.406,0.132,0.099

In [179]:
my_data.nunique()

Overall rank                    156
Country or region               160
Year                              2
Score                           295
GDP per capita                  276
Social support                  266
Healthy life expectancy         242
Freedom to make life choices    236
Generosity                      198
Perceptions of corruption       174
dtype: int64

In [ ]:
print(my_data.count())
print('----------')
print('Riike kokku: ',my_data['Country or region'].count()/2)
print('Unikaalseid riigi väärtusi kokku:', my_data['Country or region'].nunique())
print('Unikaalseid aastaarve kokku:', my_data['Year'].nunique())

Overall rank                    312
Country or region               312
Year                            312
Score                           312
GDP per capita                  312
Social support                  312
Healthy life expectancy         312
Freedom to make life choices    312
Generosity                      312
Perceptions of corruption       312
dtype: int64
----------
Riike kokku:  156.0
Unikaalseid riigi väärtusi kokku: 160
Unikaalseid aastaarve kokku: 2
Overall rank                    312
Country or region               312
Year                            312
Score                           312
GDP per capita                  312
Social support                  312
Healthy life expectancy         312
Freedom to make life choices    312
Generosity                      312
Perceptions of corruption       312
dtype: int64
----------
Riike kokku:  156.0
Unikaalseid riigi väärtusi kokku: 160
Unikaalseid aastaarve kokku: 2

In [ ]:
my_data.count()
my_data['Country or region'].count()
my_data['Country or region'].nunique()
my_data['Year'].nunique()

In [ ]:
my_data.isnull().sum()

In [ ]:
my_data.isnull()

In [ ]:
print(my_data[my_data.duplicated(['Year','Country or region'],keep=False)])

In [ ]:
new_row = pd.DataFrame({'Year': [2018], 'Country or region': ['Bulgaria'], 'Overall rank': [100], 'Score': [4.933], 'GDP per capita': [1.054], 'Social support' : [1.515], 'Healthy life expectancy' : [0.712], 'Freedom to make life choices' : [0.359], 'Generosity' : [0.064], 'Perceptions of corruption' : [0.009]})
data = pd.concat([my_data,new_row],ignore_index = True)
data

In [ ]:
print(my_data[my_data.duplicated(['Year','Country or region'],keep=False)])
print(my_data[my_data.duplicated(['Year','Country or region'],keep='first')])
print(my_data[my_data.duplicated(['Year','Country or region'],keep='last')])

In [ ]:
my_data = my_data.drop_duplicates(['Year','Country or region'],keep='first')

In [ ]:
print(my_data[my_data.duplicated(['Year','Country or region'],keep=False)])
print(my_data.count())
print('----------')
print('Maakonnaga riike kokku: ',my_data['Country or region'].count())
print('Unikaalseid riigi väärtusi kokku:', my_data['Country or region'].nunique())
print('Unikaalseid aastaarve kokku:', my_data['Year'].nunique())

In [ ]:
import seaborn as sns
sns.relplot(x = 'Overall rank', y = 'Score', hue = 'Country or region', data = my_data, height = 10, aspect = 1.5)

In [ ]:
my_data.query("Year == 2018")['GPD per capita']

In [ ]:
my_data.sort_values(by = ['Score'], ascending = False)

In [ ]:
my_pivot_all = pd.pivot_table(my_data, values='Score', 
                                index='Country or region')
print(my_pivot_all)

In [ ]:
my_chart = my_pivot_all.plot.bar(figsize = (30, 10), fontsize = 16, width=8)

In [ ]:
my_data_filtered=my_data.query("Year == 2018")

print(my_data)

In [ ]:
list_of_years = [1993, 2021]
my_data_filtered = my_data.query("Year in @list_of_years")

my_data_filtered

In [ ]:
import matplotlib.pyplot as plt 

my_chart = my_data_filtered.plot(kind = 'bar', x ='Country or region', y ='Score', figsize = (30, 10), fontsize = 10)

In [ ]:
my_pivot = pd.pivot_table(my_data_filtered, values='Score', 
                                index='Country or region',
                                columns='Year')
my_pivot = my_pivot.sort_values(by=['2018'], ascending=False)

my_pivot

In [ ]:
my_chart = my_pivot.plot(kind = 'bar', color=['green','blue'], figsize = (30, 10), fontsize = 10, width=0.8)
my_chart.bar_label(my_chart.containers[0], fontsize = 10)
my_chart.bar_label(my_chart.containers[1], fontsize = 10)
plt.xticks(rotation = 90, horizontalalignment = "center")
plt.title("Riikide õnnelikus tase 2018 vs 2019", fontsize = 20)
plt.xlabel("Country or region", fontsize = 16, color = 'red')
plt.ylabel("Score", fontsize = 16, color = 'red')